BasedOnStyle:  LLVM
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
# ColumnLimit:    120
IndentWidth:     4
TabWidth:        4
UseTab:          Never
# IndentCaseLabels: false
# MaxEmptyLinesToKeep: 1
BreakBeforeBraces: Attach
# SpaceBeforeParens: ControlStatements
# SpaceBeforeAssignmentOperators: true
# SpaceAfterAssignmentOperators: true
# SpaceBeforeCpp11BracedList: false
# ContinuationIndentWidth: 4
